# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

data/sample_corpus/raw/*
data/sample_corpus/processed/*
!data/sample_corpus/raw/.gitkeep
!data/sample_corpus/processed/.gitkeep
data/raw/pan-plagiarism-corpus-2011
src/plagiarism_engine.egg-info


# Notebooks checkpoints
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
